// out: ../css/style.css, sourcemap: true, compress: true

/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* Mobile first queries */
@import 'reset'
@import 'fontface'

$black = #000
$white = #fff
$off-white = #f1f2f2
$clear-white = rgba(255,255,255,.3)
$less-clear-white = rgba(255,255,255,.6)
$dark-grey = #333333
$lgt-grey = #444444
$lgt-lgt-grey = #b7b7b7
$red = #CA302A
$clear-red = rgba(202,48,42,.6)
$orange = #E18B00
$clear-orange = rgba(225,139,0,.6)
$yellow = #EEB300
$clear-yellow = rgba(238,179,0,.6)
$green = #5FB3AB
$clear-green = rgba(95,179,171,.6)
$blue = #357B96
$clear-blue = rgba(53,123,150,.6)
$violet = #6D1764
$clear-violet = rgba(109,23,100,.6)

//Futura-Heavy          700
//Futura-Book           400

a,
a:link,
a:visited,
a:hover,
a:active
  color inherit
  text-decoration none

h4,h5,h6,p,ol,ul
  line-height 1.3

h1
  font-size 200%
  font-weight 400

p
  a,
  a:link,
  a:visited,
  a:hover,
  a:active
    color inherit
    text-decoration underline

img
  max-width 100%

.red
  color $red

.orange
  color $orange

.yellow
  color $yellow

.green
  color $green

.blue
  color $blue

.violet
  color $violet

.red-back
  color $white
  background-color $clear-red

.orange-back
  color $white
  background-color $clear-orange

.yellow-back
  color $white
  background-color $clear-yellow

.green-back
  color $white
  background-color $clear-green

.blue-back
  color $white
  background-color $clear-blue

.violet-back
  color $white
  background-color $clear-violet

.italic
  font-style italic

.strike-through
  text-decoration line-through

html
  -webkit-font-smoothing: antialiased;

html, body
  margin 0 auto
  padding 0
  width 100%
  font-size 16px
  letter-spacing -.5px
  font-weight 400

header .leaf.first
  display none

.logged-in .navbar-nav.secondary .leaf.first
  display block



@import 'media-queries'
